<div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
  <div>
    <label for="id" class="block text-900 font-medium mb-2">User ID</label>
    <input
      id="id"
      type="text"
      placeholder="User ID"
      pInputText
      [(ngModel)]="id"
      class="w-full mb-3"
      required
    />

    <button
      pButton
      pRipple
      label="Remove"
      icon="pi pi-trash"
      class="w-full"
      (click)="removeUser()"
      [disabled]="!id"
    ></button>

    <!-- Success message -->
    <p *ngIf="successMessage" class="text-green-600">{{ successMessage }}</p>

    <!-- Error message -->
    <p *ngIf="errorMessage" class="text-red-600">{{ errorMessage }}</p>
  </div>
</div>
